@import "../../../../scss/colors";

.cartEmptyWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px 10px 10px 10px;
  min-height: 100%;
  flex: 1;

  img {
    display: flex;
    width: 300px;
  }

  h3 {
    font-size: 20px;
  }

  p {
    text-align: center;
    width: 300px;
    margin: 0;
    padding: 0;
  }

  button {
    color: white;
    font-size: 16px;
    font-weight: 500;
    background-color: $backgroundCartButton;
    height: 50px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease-out;
    margin: 20px 0 0 0;
    padding: 0 20px 0 20px;

    &:hover {
      background-color: $backgroundCartButtonHover;
    }
  }
}