.bestSaleWrapper {
  margin: 10px 10px 10px 10px;
  display: flex;
  flex-direction: column;

  .bestSaleTitleWrapper{
    h2 {
      font-weight: 500;
      margin: 0;
    }
  }

  .bestSaleCardContent{
    display: flex;
    flex-direction: row;
    overflow-x: auto;
  }
}