$backgroundPage: #FFFF;
$backgroundPageGray: #F3F3F7;
$backgroundPageGray2: rgb(243, 243, 247);
$backgroundCard: #FFFF;
$backgroundMenuItem: #F3F3F7;
$backgroundCartButton: #FF6900;
$backgroundCartButtonHover: #d56110;
$borderColor: #E2E2E9;
$boxShadowColor: 0px 14px 30px rgba(0, 0, 0, 0.05);
$greyColor: rgb(226, 226, 233);
